# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\A\Downloads\b4bb86db86079509e6159810ae9bd3e4-846ae1b646ab0f4d646af9115e47365f4118e5f6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
